:root {
	--main-primary: #19d4e6; /*Brilliant Blue 19d4e6*/
	--main-secondary: #050512; /*Dark Blue 050512*/
	--main-sec-transparent: rgba(5, 5, 18, 0.8); /* 5, 5, 18, 0.5*/
	--main-tertiary: #a3eef5; /*Soft Blue a3eef5*/
	--main-ter-transparent: rgba(22, 22, 80, .3);
	--main-other: #14aab8; /*Mate Blue 14aab8*/
	--main-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%239C92AC' fill-opacity='0.23'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background:var(--main-secondary);
	color: var(--main-primary); 
	background-image: var(--main-background);
}

a {
	color: var(--main-primary); 
	text-decoration: none;
}

/* HEADER */
header ul {
	list-style: none;
}

.nav-main {
	background: linear-gradient(black, transparent);
	width: 100%;
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 20px 0;
}

.menu-btn {
	margin-left: 5%;
	cursor: pointer;
	display: none;
	z-index: 3;
}

.nav-name {
	align-items: center;
	color:: var(--main-primary);
	display: flex;
	margin-left: 4%;
	font-size: 20px;
}

.name-logo {
	width: 45px;
	padding-top:10px;
}

.nav-logo {
	width: 100%;
	border-radius: 10px;
}

/* Nav */
.nav-bar {
	align-items: center;
}

.nav-menu {
	display: flex;
	flex: 1;
	margin-left: 20px;
	margin-right: 50px;
}

.nav-main ul li{
	padding: 15px 20px;
	border-radius: 10px;
	margin: 5px;
	font-size: 20px;
	border: 1px solid transparent;
	cursor: pointer;
}

.nav-main ul li:hover{
	text-shadow: 0 0 3px: var(--main-primary);
	background: rgba(5, 5, 18, 0.55);
}

.nav-menu-search {
	display: flex;
}

/* SECTION BANNER */
#banner {
	padding-top: 0;
	min-height: 100vh;
	width: 100%;	
}

.banner {
	width: 100%;
	padding: 5% 15%;
	background: url(./../Images/pictures/programing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border: 10px solid var(--main-secondary);
	border-left: 0;
	border-right: 0;
}

.down-arrow {
	padding: 20px;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
}

.bounce:hover {
	-moz-animation: bounce 2s infinite;
 	-webkit-animation: bounce 2s infinite;
  	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-10px);
	}
}

.home {
	width: 100%;
	height: 350px;
	display: flex;
	display: flex;
	align-items: center;
}

.introduce {
	width: 40%;
	padding: 50px 100px;
	padding-right: 0;
}

.home div.introduce {
	height: 100%;
}

.happy-picture {
	width: 250px;
	height: 250px;
	border-radius: 60px;
	box-shadow: 2px 2px var(--main-primary);
	transition: box-shadow 1s;
}

.happy-picture:hover {	
	box-shadow: 10px 10px var(--main-primary);
}

.home div.I-am {
	width: 60%;
}

.I-am {
	margin-left: 30px;
	flex-direction: column;
  	text-shadow: 4px 4px 8px #000000;
}

.I-am h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 75px;

}

.I-am p {
	padding-left: 5px;
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
}

/*--------------------------------INFORMACIÓN--------------------------------*/
section {
	margin: auto;
	padding: 7% 1px;
	padding-bottom: 0;
	width: 71%;
}

/* Presentación */
.presentation {
	font-size: 100%;
	width: 100%;
	padding: 40px 30px;
	border: 1px solid; 
	border-color: var(--main-primary);
	border-radius: 20px;
	background: rgba(5, 5, 18, 0.55);
	font-family: 'Open Sans', sans-serif;
	color:: var(--main-primary);
	display: flex;
}	

/*---------------------------------ABOUT ME----------------------------------*/
.about-me {
	padding: 0px 15px;
	width: 60%;
}

.about-me h2 {
	color: var(--main-tertiary);
	padding: 10px;
	padding: 0 25px;
	margin-bottom: 15px;
}

.about-me p {
	padding: 10px;
	color: var(--main-primary);
}

.me {
	width: 40%;
	margin: 5px 20px;
	padding: 20px;
	background: url(./../Images/logo/logo_size.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	transition: background 0.7s;
}

.me:hover {
	background: url(./../Images/pictures/yo.jpg);
	background-position: center;
	background-size: cover;
}

.me-picture {
	width: 100% /*DESACTIVADA*/
}

/*-------------------------------EXPERIENCE---------------------------------*/
#experience {
	margin-top: 7%;
	margin-bottom: 7%;
	padding: 0; 
}

.experience {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	height: 800px;
}

.experience h2 {
	font-size: 25px;
	padding: 10px;
	text-align: center;
	color: var(--main-other);

}

.xp-bussiness {    /*h3*/
	padding: 5px;
}

.business {
	cursor: pointer;
	color: var(--main-tertiary);
}

.business:hover {
	text-shadow: 0 0 2px: var(--main-primary);
}

.dates {             /*h4*/
	padding: 10px 20px;
	color: var(--main-other);
}

.experience ul li {
	padding: 5px;
}

.experience div {
	margin-bottom: 20px;
	padding: 30px;
	border-radius: 15px;
}

.xp-first {
	background: linear-gradient(to right, rgba(5, 5, 18, 0.5), transparent);
	border-left: 4px solid;
	border-color: var(--main-primary);
	border-right: 3px solid transparent;
	transition: background 2s;
	transition: border-right 1s;
}

.xp-first:hover {
	background: linear-gradient(to right, rgba(5, 5, 18, 0.7), rgba(5, 5, 18, 0.55), rgba(5, 5, 18, 0.4), rgba(5, 5, 18, 0.2));
	border-right: 2px solid;
	border-color: var(--main-primary);
}

.xp-first div h3 {
	float: left;
}


.xp-last {
	background: linear-gradient(to left, rgba(5, 5, 18, 0.5), transparent);
	border-right: 4px solid;
	border-color: var(--main-primary);
	border-left: 3px solid transparent;
	text-align: right;
	transition: background;
	transition: border-left 1s;
	margin-bottom: 0;
	float: right;
}

.xp-last:hover {
	background: linear-gradient(to left, rgba(5, 5, 18, 0.7) ,rgba(5, 5, 18, 0.55), rgba(5, 5, 18, 0.4), rgba(5, 5, 18, 0.2));
	border-left: 2px solid;
	border-color: var(--main-primary);
}

.xp-last div h3 {
	float: right;
}

/*--------------------------------TRAINING-------------------------------------*/
#training {	
	margin: 0;
	width: 100%;
	padding: 20px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	height: 1200px;
}

.tr-tittle {
	padding: 5px;
	margin: 20px 20%;
	font-size: 20px;
	text-align: center;
	border: 1px solid;
	background: var(--main-sec-transparent);
	border-color: var(--main-primary);
	border-radius: 5px;
}

.university {
	padding: 20px 14.5%;
	margin-bottom: 20px;
	background: var(--main-sec-transparent);
	border: 1px solid;
	border-left: 0;
	border-right: 0;
	border-color: var(--main-other);
	display: flex;
}

.tr-details {
	padding: 20px;
	width: 70%;
}

.tr-img {
	padding: 20px;
	width: 30%;
}

.unicauca {
	width: 100%;
}

.technical {
	padding: 20px 14.5%;
	margin-bottom: 20px;
	background: var(--main-sec-transparent);
	border: 1px solid;
	border-left: 0;
	border-right: 0;
	border-color: var(--main-other);
	display: flex;
}

.sena {
	width: 100%;
}

/*-----------------------------------SKILLS-----------------------------------*/

#skills {
	padding-top: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	justify-content: space-between;
}

.sk-tittle {
	padding: 20px;
	padding-bottom: 0;
	background: transparent;
	text-align: center;
	font-size: 20px;
}

.my-sk div {
	margin: 20px;
	padding: 20px 30px;
	background: var(--main-secondary);
	border: 1px solid;
	border-color: var(--main-primary);
	border-radius: 10px;
}

.my-sk li {
	list-style: none;
	padding: 2px;
}

.my-sk div div {
	margin: 0;
	padding: 0;
	border-color: transparent;
}

.my-sk h3 {
	margin: auto;
	padding-bottom: 20px;
	width: 30%;
	text-align: center;
}

.my-sk div h4 {
	padding: 10px 10px;
}

.sk-data {
	display: flex;
}

.sk-details {
	width: 75%;
}

.sk-img {
	width: 25%;
}

.kind-lan {
	text-align: center;
	column-count: 3;
	column-rule: 1px solid;
	column-rule-color: var(--main-primary);
}

.lan-img {
	display: flex;
	justify-content: space-between;
}

.lan-img img {
	margin: auto;
	width: 100px;
}

.programing img {
	width: 80px;
}

.kind-tool {
	text-align: center;
	column-count: 3;
	column-rule: 1px solid;
	column-rule-color: var(--main-primary);
}

.kind-tool div {
	height: 120px;
}

.volunt-xp {
	text-align: center;
	display: flex;
}
/*-----------------------------------CONTACT----------------------------------*/

#contact {
	width: 50%;
	margin-top: 7%;
	padding: 20px ;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background: rgba(5, 5, 18, 0.5);
	border: 1px solid;
	border-color: var(--main-primary);
	border-radius: 15px;
}

.contact-tittle {
	width: 30%;
	margin: auto;
	text-align: center;
	font-size: 20px;
}

.form {
	margin: 20px;
	/*display: grid;
	grid-template-columns: 1fr 1fr;*/
}

.form form > * {
	margin: 10px 0;
}

.form form button,
.form form input,
.form form textarea {
	width: 100%;
	padding: .7em;
	background: none;
	border: none;
	border-bottom: 1px solid;
	border-color: var(--main-primary);
	outline: none; /*Selector tab*/
	color: #fff;
	resize: none;
}

.form form button {
	background: var(--main-secondary);
	border: 1px solid;
	border-color: var(--main-primary);
	border-radius: 5px;
	color: var(--main-primary);
	text-transform: uppercase;
	padding: 1em;
}

.form form button:hover,
.form form button:focus {
	background: var(--main-primary);
	color: var(--main-secondary);
}

/*------------------------------WORK IN PROGRESS------------------------------*/
.work-in-p {
	margin: auto;
	flex-direction: column;
	align-items: center;
	width: 300px;
}

.work-in-p h2 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.work-cat {
	border-radius: 25px;
	border: 2px solid;
	border-color: var(--main-primary);
	width: 100%;
	margin: 10px 0;
}

.enlaces {
	width: 100%;
	padding: 20px 20px;
	padding-bottom: 0;
	justify-content: space-between;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));

}

.enlaces div {
	margin: auto;
	width: 285px;
}

.enlaces div a {
	font-size: 25px;
	margin: 10px;
}

.enlaces div a:hover {
	text-shadow: 0 0 4px: var(--main-primary);
}

/*------------------------------FOOTER------------------------------*/
footer {
	margin: auto;
	width: 100%;
	font-size: 75%;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.8);
	color: var(--main-primary); 
	clear:both;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;}
/*-------------------------------------------------------------------
----------------------------RESPONSIVE-------------------------------
---------------------------------------------------------------------*/
@media (max-width: 700px) {

	.menu-btn {
		display: flex;
		width: 0%;
	}

	.nav-name {
		margin-left: 42%;
	}

	.nav-menu {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: var(--main-secondary);
		height: 100%;
		opacity: .9;
		padding: 60px 10px;
		transform: translateX(-400px); /*-20 para que se vea sin JS*/
		z-index: 2;
	}

	.nav-menu.show {
		transform: translateX(-20px);
	}

	.nav-main ul li {
		padding-left: 0;
	}

	.nav-menu li a {
		padding: 20px 7px;
		font-size: 30px;		
	}

	#banner {
		min-height: 90vh;
		margin: 0 auto;
	}

	.banner {
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 25%;
		bottom: 25%;
	}

	.down-arrow {
		margin: auto;
		width: 100%;
		position: absolute;
		top: 82%;
	}
		
	.home {
		flex-direction: column;
		align-items: center;
		padding: 20% 0;
	}

	.introduce {
		margin: auto;
		width: 150px;
		height: 150px;
		padding: 0 0;
	}

	.happy-picture {
		width: 100%;
		height: 100%;
		border-radius: 45px;
	}

	.happy-picture:hover {	
		box-shadow: 3px 3px: var(--main-other);
	}

	.home div.I-am {
		width: 100%;
		text-align: center;
		margin: 0;	
	}

	.I-am h2 {
		font-size: 3rem;
	}

	.presentation {
		display: block;
		height: 950px;
	}
	
	.about-me {
		padding: 0;
		width: 100%;
		font-size: 100%;
		text-align: center;
	}

	.about-me h2 {
		padding: 0;
		font-size: 30px;

	}

	.me {
		display: block;
		margin: 10px 0;
		width: 100%;
		height: 270px;
		background-size: cover;
	}

	.experience {
		height: 1650px;
		padding: 40px 0;
		display: block;
	}
}